@model BlogMvcApp.Models.Proje

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Proje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjeAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjeAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjeOzet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjeOzet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjeAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjeAciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjeGorsel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjeGorsel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjeTarihi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
